:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  
  --light-theme-very-light-gray: hsl(0, 0%, 98%);
  --light-theme-very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-theme-grayish-blue: hsl(233, 11%, 84%);
  --light-theme-dark-grayish-blue: hsl(236, 9%, 61%);
  --light-theme-very-dark-grayish-blue: hsl(235, 19%, 35%);

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);

  --font: font-family:'Josefin sans', 'helvetica'
  /* - Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
  - Weights: 400, 700 */
}
.dark-mode{
  background-color: var(--very-dark-blue);
}

.light-mode{
  background-color: var(--light-theme-very-light-grayish-blue);
}

.light-mode h1,p {
  color: var(--very-dark-grayish-blue);
}

.dark-mode h1, p {
  color: var(--light-grayish-blue);
}


.App {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 180px;
  padding-top: 20px;
  background: url(./assets/images/bg-mobile-dark.jpg)
}

.btn {
  width: 30px;
  border: none;
  cursor: pointer;
}
.btn-dark {
  background: url(./assets/images/icon-sun.svg) no-repeat ;
  background-position-y: 10px;
}
.btn-light {
  background: url(./assets/images/icon-moon.svg) no-repeat;
  filter: invert(1);
  background-position-y: 10px;
}

h1 {
  letter-spacing: 10px;
  text-transform: uppercase;
}

.input-todo {
  margin-top: -50px;
}

.input-todo input[type="text"]{
  background-color: var(--very-dark-desaturated-blue);
  border: none;
  border-radius: 5px;
  width: 80vw;
  height: 40px;
  padding-left: 30px;
  color: var(--light-grayish-blue);
}

.container {
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 5px;
  width: 80vw;
  margin-top: 22px;
}
.container .todo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.container .todo-list p{
  color: var(--light-grayish-blue);
}
.container .todo-list input[type="checkbox"] {
  appearance: none;
	border: 1px solid var(--dark-grayish-blue);
	padding: 12px;
	border-radius: 50%;
	margin-left: 10px;
}

.container .todo-list input[type="checkbox"]:checked {
  background: center / 80% no-repeat url(./assets/images/icon-check.svg), var(--check-background);
}

.container .todo-list button {
  border: none;
  cursor: pointer;
  background: url(./assets/images/icon-cross.svg) no-repeat center;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.container .msg {
  display: flex;
  justify-content: space-around;
  color: white;
}

.container .msg button {
  background-color: var(--very-dark-desaturated-blue);
  border: none;
  cursor: pointer;
  color: aliceblue;
  height: 40px;
}

.btns-filter {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 5px;
  width: 80vw;
  margin-top: 22px;
}
.btns-filter button {
  border: none;
  cursor: pointer;
  height: 40px;
  background-color: var(--very-dark-desaturated-blue);
  color: aliceblue;
}

.footer {
  margin-top: 50px;
}